.root {
  -fx-font-family: Arial, Helvetica, sans-serif;
  -fx-font-size: 14;

  -fx-dark-accent: #1f1f1f;
  -fx-side-bar-btn-active-color: #ffffff3d;
  -fx-side-bar-btn-hover-color: #ffffff15;

  -fx-blue-accent: rgb(65, 148, 243);
  -fx-blue-dark: rgb(56, 130, 215);
  -fx-red-accent: rgb(229, 69, 69);
  -fx-red-dark: rgb(208, 60, 60);

  -fx-gray-color: rgb(255, 255, 255);
  -fx-app-background-color: -fx-dark-accent;
  -fx-table-header-color: #686868;
}

.version-text {
    -fx-text-fill: #424242;
    -fx-fill: #424242;
}

Label, Text {
  -fx-text-fill: black;
  -fx-fill: black;
}

/*alert-dialog*/

.alert-dialog {
    -fx-background-color: white;
}

.alert-dialog:header *.header-panel {
    -fx-background-color: white;
}

.alert-dialog:header *.header-panel *.label {
    -fx-font-weight: 900;
}

/*----window----*/

.page-wrapper {
  -fx-max-width: 1450;
}

/*----status-sections----*/

.error-section {
    -fx-background-color: #fdcdcb;
    -fx-border-color: #f3bdbb;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 10 15
}

.error-text {
    -fx-fill: #af5b5b;
}

.success-section {
    -fx-background-color: #cffad7;
    -fx-border-color: #abdbb4;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 10 15
}

.success-text {
    -fx-fill: #65966d;
}

/*------buttons------*/

.btn-show-password {
    -fx-min-width: 42;
    -fx-border-color: gray;
    -fx-background-color:  transparent;
    -fx-text-fill: gray;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.btn-show-password:hover {
  -fx-background-color: #ebebeb;
}

.btn-blue-filled {
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-background-color: -fx-blue-accent;
  -fx-background-radius: 4;
  -fx-text-fill: white;
  -fx-font-weight: 700;
}

.btn-blue-filled * {
  -fx-text-fill: white;
  -fx-fill: white;
}

.btn-blue-filled:hover {
  -fx-background-color:  -fx-blue-dark;
}

.btn-blue-outlined {
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-border-color: -fx-blue-accent;
  -fx-background-color:  transparent;
  -fx-text-fill: -fx-blue-accent;
  -fx-border-width: 1.5;
  -fx-border-radius: 4;
  -fx-background-radius: 4;
  -fx-font-weight: 700;
}

.btn-blue-outlined * {
  -fx-text-fill: -fx-blue-accent;
  -fx-fill: -fx-blue-accent;
}

.btn-blue-outlined:hover * {
  -fx-text-fill: white;
  -fx-fill: white;
}

.btn-blue-outlined:hover {
  -fx-background-color:  -fx-blue-accent;
  -fx-text-fill: white;
}



.btn-red-filled {
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-background-color: -fx-red-accent;
  -fx-background-radius: 4;
  -fx-text-fill: white;
  -fx-font-weight: 700;
}

.btn-red-filled * {
  -fx-text-fill: white;
  -fx-fill: white;
}


.btn-red-filled:hover {
  -fx-background-color: -fx-red-dark;
}

.btn-red-outlined {
  -fx-min-height: 30;
  -fx-max-height: 30;
  -fx-border-color: -fx-red-accent;
  -fx-text-fill: -fx-red-accent;
  -fx-background-color:  transparent;
  -fx-border-width: 1.5;
  -fx-border-radius: 4;
  -fx-background-radius: 4;
  -fx-font-weight: 700;
}

.btn-red-outlined * {
  -fx-text-fill: -fx-red-accent;
  -fx-fill: -fx-red-accent;
}

.btn-red-outlined:hover * {
  -fx-text-fill: white;
  -fx-fill: white;
}


.btn-red-outlined:hover {
  -fx-background-color:  -fx-red-accent;
  -fx-text-fill: white;
}

/*---------------*/

.bold-text {
  -fx-font-weight: 900;
  -fx-font-size: 21
}

.bold-medium-text {
  -fx-font-weight: 900;
  -fx-font-size: 16
}

.box-shadow {
  -fx-background-color: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 30, 0, 0, 0);
}

.box-shadow-light {
  -fx-background-color: white;
  -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.571), 70, 0, 0, 0);
}

.form-wrapper {
  -fx-background-color: white;
  -fx-background-radius: 8;
  -fx-padding: 40;
}

.error-text {
  -fx-text-fill: -fx-red-accent;
}

.app-background {
  -fx-background-color: -fx-app-background-color;
}

.default-gray-background {
  -fx-background-color: -fx-gray-color;
  -fx-background: -fx-gray-color;
}

.white-scroll-pane {
  -fx-background: white;
  -fx-background-color: white;
}

.table-header-cell {
  -fx-padding: 10;
  -fx-background-color: -fx-table-header-color;
}

.table-header-cell Label, .table-header-cell Text {
  -fx-font-weight: 700;
  -fx-text-fill: white;
  -fx-fill: white;
}

/*----table-view----*/

.table-view { 
  -fx-background-color: white;
  -fx-background-radius: 4; 
}

.table-view .column-header-background {
  -fx-background-color: -fx-table-header-color;
  -fx-background-radius: 4 4 0 0; 
  -fx-background-insets: 0 0 0 0;
  -fx-padding: 4;
}

.table-view .corner {  
  -fx-background-color : transparent;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

.table-view .column-header .label {
  -fx-text-fill: white;
}

.table-row-cell {
  -fx-border-color: transparent;
  -fx-padding: 4;
}

.table-row-cell:odd{
  -fx-background-color: #b0b0b011;
  -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:even{
  -fx-background-color: #ffffff00;
  -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
  -fx-background-color: rgba(11, 11, 11, 0.112);
}

.table-cell {
  -fx-text-fill: black;
}

/*----check-box----*/

.check-box .box {

  -fx-background-color: white;
  -fx-border-color: grey;
  -fx-border-radius: 4; 
  
  }
  
.check-box:selected .mark {
  -fx-background-color: white;
  
  }
  
.check-box:selected .box {
  -fx-border-color: -fx-blue-accent;
  -fx-background-color: -fx-blue-accent;
}

/*----combo-box----*/

.combo-box .list-cell 
{
  -fx-background: white;
  -fx-background-color: white; 
  -fx-background-radius: 4;
}

.combo-box-popup .list-view 
{
  -fx-background-color: white, white;
  -fx-background-insets: 0, 1;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
  -fx-background-radius: 4;
}    

.combo-box-popup .list-view .list-cell 
{
  -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
  -fx-background: -fx-blue-accent;
  -fx-background-color: -fx-blue-accent;
  -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
  -fx-background-color: rgb(187, 219, 255);
}

.combo-box-base  
{
  -fx-min-height: 30;
  -fx-background-color: white;
  -fx-border-color: grey;
  -fx-border-radius: 4;
}

/*-----radio-button-----*/

.radio-button .radio {
    -fx-border-color: grey;
    -fx-background-color: rgb(255, 255, 255);
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-insets: 0 0 0 0;
    -fx-padding:5;
}

.radio-button:selected .radio {
  -fx-background-color: -fx-blue-accent;
  -fx-border-color: white;
}

.radio-button:selected .dot {
  -fx-background-color: white;
}

.radio-button -radio:determinate {
  -fx-background-color: -fx-blue-accent;
  -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: rgb(126, 55, 55);
    -fx-background-image: null;
}


/*-----text-field------*/

.text-field {
  -fx-min-height: 30;
  -fx-border-radius: 4;
  -fx-border-color: grey;
}

.text-area {
  -fx-border-radius: 4;
  -fx-border-color: grey;
}

/*-----slider------*/

.slider {
  -default-track-color: -fx-blue-accent;
  -track-color: -default-track-color ;
}

.slider Text {
  -fx-font-size: 11;
}

.slider .track {
  -fx-background-color: -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        -track-color;
}

/*----separator------*/

.separator *.line {
  -fx-border-style: solid;
  -fx-border-width: 1 1 1 1; 
  -fx-border-color: rgb(181, 181, 181);
}

/*----scroll-----*/

.scroll-pane, .scroll-pane .viewport {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-insets: 0;
  -fx-border-width: 0;
  -fx-padding: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :white;
  -fx-border-color : white;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 10.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
  -fx-shape : " ";    
  -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
  -fx-shape : " ";    
  -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color : rgb(232, 232, 232);
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  /* -fx-background-color :rgb(234, 234, 234); */
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}