.slider-btn {
   -fx-background-color: rgb(255, 255, 255);
}

.slider-btn:hover {
   -fx-background-color: rgba(0, 0, 0, 0.065);
}

.slider-btn.slider-btn-right {
   -fx-background-radius: 0 4 4 0;
}

.slider-btn.slider-btn-left {
   -fx-background-radius: 4 0 0 4;
}